@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/*Agrega letra Roboto google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
/*Agrega reset*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: inherit;
  list-style: none;
  text-decoration: none; }

/*Estilos Menu-Navbar*/
#menu {
  opacity: 0.75; }

#menu:hover {
  opacity: 1; }

#menu a {
  font-size: 18px; }

#menu a:hover {
  color: #f8e12d; }

#menu button {
  font-size: 18px;
  font-weight: bold; }

/*estilo para corregir navbar*/
.ajuste {
  padding-top: 130px !important; }

/*Estilos carrousel*/
.carousel-inner {
  max-height: 39rem;
  min-height: 269.7px; }

/*estilos para la seccion contactos */
#local {
  background-color: #f3f3f3;
  padding-bottom: 300px;
  display: flex;
  justify-content: center; }

.wrapper {
  width: 50%;
  margin-left: 100px;
  padding-top: 150px; }

#numeros-local div {
  padding: 0 20px 0 0;
  height: 48px;
  border-right: 2px solid #3f3f3f;
  padding-left: 20px; }

#numeros-local p {
  margin: 0%; }

/*Estilo fondo contactos*/
#fondo-contactos {
  position: relative;
  top: -130px; }

#seccion-contactos {
  background-color: #c4ba9e;
  min-height: 500px;
  position: relative; }

/*Estilos del footer*/
footer {
  background: black;
  min-height: 100px; }

footer p {
  color: #f3f3f3;
  text-align: center; }

footer a i {
  font-size: 26px;
  padding: 0 8px;
  color: #f3f3f3; }

footer a i:hover {
  color: #f8e12d; }

/*estilos portada video*/
#navFix {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 0% !important; }

#bgvid {
  margin: 0;
  width: 100%;
  height: 100%; }

.imgVideo {
  position: absolute;
  top: 38%;
  width: 50%; }

#headerPrincipal {
  margin: 0%;
  padding: 0%; }

/*Estilos seccion servicios*/
#fila-servicios h3 {
  text-decoration: underline; }

/*Estilos para pantalla 768px  -- MEDIANA*/
@media (max-width: 768px) {
  #intro {
    width: 90% !important; }
  #nosotros {
    width: 90% !important; }
  #fila-servicios {
    width: 100% !important;
    text-align: center; }
  #fondo-contactos {
    top: -110px; }
  .imgVideo {
    position: absolute;
    top: 25%;
    width: 50%; }
    #googleMaps{

      width: 450px;
      
    } }

    

/* Estilos para pantalla 576px  -- PEQUEÑA*/
@media (max-width: 576px) {
  #imagen-servicio {
    flex-wrap: wrap;
    justify-content: center !important; }
  #nosotros p {
    display: none; }
  #formateo {
    width: 100vw !important; }
  .imgVideo {
    position: absolute;
    top: 25%;
    width: 50%; } 
    #googleMaps{

      width: 350px;
      
    }
   }

/* Estilos para desktop*/
@media (max-width: 1200px) {
  #local {
    flex-wrap: wrap;
    padding-top: 30px; }
  .wrapper {
    width: 90%;
    margin: auto;
    padding-top: 50px; }
  .mapa {
    padding-top: 50px; } }
