/*Estilos del footer*/

footer{
    background: black;
    min-height:100px ;
}
footer p {
    color: #f3f3f3;
    text-align: center;
}

footer a i {

    font-size:26px;
    padding: 0 8px;
    color: #f3f3f3;
}

footer a i:hover {

    
    
    color: #f8e12d;
}