@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*Agrega letra Roboto google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


/*Agrega reset*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
    color: inherit;
    list-style: none;
    text-decoration: none;
  }